@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Modern Gothic";
  src: url("/fonts/ModernGothic-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Modern Gothic";
  src: url("/fonts/ModernGothic-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@layer base {
  :root {
    --radius: 0.5rem;
  }
}

/* Scroll bar for Chrome, Edge, and Safari */
::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background: #283139;
}

/* ::-webkit-scrollbar-track {
  background: #262626;
} */

@layer components {
  .spinner {
    margin: 3.2rem auto 1.6rem;
    width: 60px;
    aspect-ratio: 1;
    border-radius: 50%;
    border: 8px solid #1f2937;
    border-right-color: #bcc6d3;
    animation: rotate 1s infinite linear;
  }

  .spinner-mini {
    margin: 0;
    width: 20px;
    aspect-ratio: 1;
    border-radius: 50%;
    border: 2px solid #bcc6d3;
    border-right-color: transparent;
    animation: rotate 1s infinite linear;
  }

  @keyframes rotate {
    to {
      transform: rotate(1turn);
    }
  }
}

/* Pulse */
.pulse {
  display: inline-block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #36c956;
  cursor: pointer;
  box-shadow: 0 0 0 rgba(204, 169, 44, 1);
  animation: pulse 2s infinite;
}

@-webkit-keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(15, 183, 0, 1);
  }
  70% {
    -webkit-box-shadow: 0 0 0 10px rgba(15, 183, 0, 0);
  }
  100% {
    -webkit-box-shadow: 0 0 0 0 rgba(15, 183, 0, 0);
  }
}
@keyframes pulse {
  0% {
    -moz-box-shadow: 0 0 0 0 rgba(15, 183, 0, 1);
    box-shadow: 0 0 0 0 rgba(15, 183, 0, 0.4);
  }
  70% {
    -moz-box-shadow: 0 0 0 10px rgba(15, 183, 0, 1);
    box-shadow: 0 0 0 10px rgba(15, 183, 0, 0);
  }
  100% {
    -moz-box-shadow: 0 0 0 0 rgba(15, 183, 0, 0);
    box-shadow: 0 0 0 0 rgba(15, 183, 0, 0);
  }
}

header {
  backface-visibility: hidden;
  will-change: transform;
}

header {
  transition: transform 0.3s ease-in-out;
  will-change: transform;
}
